.container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
}

.row {
}

aside {
    float: left;
    width: 30%;
    height: 100%;
    position: relative;
    margin-right: 20px;
    margin-top: 10px;
    border: solid;
    display: inline-block;
}

main {
    width: 66%;
    margin: 10px;
    border: solid;
    display: inline-block;
}

.forecast {
    border: solid;
    font-size: 20px;
}

.fiveDay {
    width: 100px;
    display: inline-block;
    margin: 20px;
}

ul {
    list-style: none;
    padding: 2px;
}

li {
    padding: 15px;
    border: solid;
    border-color: gray;
}