body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin: 0px;
    border-radius: 2px;
    background-color: white;
}

header {
    background-color: rgb(50, 93, 152);
    color: white;
    text-align: center;
}

aside {
    float: left;
    width: 25%;
    height: 100%;
    display: inline-block;
}

input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 0px 0px 1px;
    height: 50px;
    width: 267px;
    border-width: 2px;
    border-color: gray;
    border-radius: 6px 0px 0px 6px;
}

button {
    background-color: rgb(50, 92, 152);
    color: white;
    height: 57px;
    width: 67px;
    border-radius: 0px 6px 6px 0px;
}

button:hover {
    background-color: white;
    color: rgb(50, 92, 152);
    cursor: pointer;
}

main {
    width: 66%;
    margin: 2px;
    display: inline-block;
}

.forecast {
    font-size: 20px;
    border-top: solid;
    border-color: gray;
}

.fiveDay {
    width: 150px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 25px;
    color: white;
    background-color: rgb(50, 92, 152);
    text-align: center;
    border: solid;
    border-color: gray;
    border-radius: 6px;
}

ul {
    list-style: none;
    border: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 6px;
}

li {
    border: solid;
    border-width: 1px;
    border-color: gray;
}

li:hover {
    cursor: pointer;
    color: rgb(50, 92, 152);
    border-color: rgb(50, 92, 152);
}